@font-face {
  font-family: space-font;
  src: url(Assets/Fonts/space-font.ttf);
}

@font-face {
  font-family: spaceline;
  src: url(Assets/Fonts/spaceline.otf);
}

:root {
  touch-action: pan-x pan-y;
  height: 100% 
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;

  /* Disable scrolling */
  overflow: hidden;
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  z-index: -1;
}

.slider {
  flex: 1;
  margin-left: 6px;
}

hbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
/*   background: blue; */
}

vbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  
/*   background: red; */
}

inputline {
  display: flex;
  flex-direction: row;
  flex: 1;
  max-width: 250px;
}

version {
  position: fixed;
  right: 14px;
  top: 4px;
  color: #ffffff40;
  font-size: calc(min(24px, 4vw));
  font-family: "Trebuchet MS";
}

button {
  margin: 20px;
  padding: 0px 10px;

  font-family: space-font;
  font-size: calc(min(3vw, 16px));
  
  min-height: 40px;
  max-width: 40vw;
  
  color: white;
  border: solid 2px white;
  background: transparent;
  cursor: pointer;

  user-select: none;
}

p {
  display: flex;
  flex-direction: column;
  text-align: left;
}

a {
  color: white;
}

div {
  color: white;
  font-family: Trebuchet MS, sans-serif;
  margin: 0 20px;
  overflow-y: auto;
}

h1 {
  text-align: center;
  margin: 10px 0px;
}

span {
  font-weight: bold;
}

control {
  display: inline-block;
  width: 100px;
  font-weight: bold;
}

button:hover {
  font-size: 17px;
  background: #ffffff10;
}

button:active {
  font-size: 16px;
  background: #ffffff05;
}

.pause {
  position: fixed;
  top: 30px;
  right: 16px;
  font-size: 20px;
  padding: 2px 8px;
  min-height: auto;
  border: solid 2px #ffffff20;
  background: #ffffff20;
  letter-spacing: 2px;
  font-family: "Trebuchet MS";
}

.pause:hover {
  font-size: 20px;
}

.help-menu {
  display: grid;
  /* 2x2 grid */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  margin: 0;
}

.help-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.section-contents {
  display: inline-block;
  text-align: left;
  margin: 10px;
}

.fullscreen-button {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  margin: 0px 0px;
  padding: 2px 2px;
  top: 0px;
  width: 40px;
  height: 40px;
  min-height: auto;
  background-color: #000c;
  border: solid 2px #fffc;
  color: white;
  font-size: 30px;
  font-family: "Trebuchet MS";
  line-height: 0px;
  cursor: pointer;
  user-select: none;
  pointer-events: auto;
  opacity: 1;
}

.fullscreen-button.hide {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.fullscreen-button:hover {
  font-size: 30px;
  background: #000c;
}

.fullscreen-button:active {
  font-size: 30px;
  background: #000c;
}

.effect-buttons {
  display: flex;
  flex-direction: column;

  position: fixed;
  right: 10px;
  top: 90px;
  margin: 0;
  padding: 0;
}

.effect-buttons button {
  margin: 10px;
  padding: 0;
  width: 50px;
  height: 50px;

  border: solid 2px #ffffff20;
  background: #ffffff20;
  border-radius: 4px;

  cursor: pointer;
}

