@font-face {
  font-family: space-font;
  src: url(Assets/Fonts/space-font.ttf);
}

@font-face {
  font-family: spaceline;
  src: url(Assets/Fonts/spaceline.otf);
}

:root {
  touch-action: pan-x pan-y;
  height: 100% 
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;

  /* Disable scrolling */
  overflow: hidden;
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  z-index: -1;
}

.slider {
  flex: 1;
  margin-left: 6px;
}

hbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
/*   background: blue; */
}

vbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  
/*   background: red; */
}

inputline {
  display: flex;
  flex-direction: row;
  flex: 1;
}

version {
  position: fixed;
  right: 14px;
  top: 4px;
  color: #ffffff40;
  font-size: 24px;
  font-family: "Trebuchet MS";
}

button {
  margin: 20px;
  flex: 1;
  max-width: 30vw;
  
  font-family: space-font;
  font-size: 16px;
  
  min-height: 40px;
  color: white;
  border: solid 2px white;
  background: transparent;
  cursor: pointer;
}

p {
  display: flex;
  flex-direction: column;
  text-align: left;
}

div {
  color: white;
  font-family: Trebuchet MS, sans-serif;
  margin: 0 20px;
  overflow-y: auto;
}

h1 {
  text-align: center;
  margin: 10px 0px;
}

span {
  font-weight: bold;
}

control {
  display: inline-block;
  width: 100px;
  font-weight: bold;
}

button:hover {
  font-size: 17px;
  background: #ffffff10;
}

button:active {
  font-size: 16px;
  background: #ffffff05;
}

.pause {
  position: fixed;
  top: 30px;
  right: 16px;
  font-size: 20px;
  padding: 2px 8px;
  min-height: auto;
  border: solid 2px #ffffff20;
  background: #ffffff20;
  letter-spacing: 2px;
  font-family: "Trebuchet MS";
}

.pause:hover {
  font-size: 20px;
}

.fullscreen-button {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  bottom: 0px;
  width: 100vw;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 20px;
  font-family: "Trebuchet MS";
  cursor: pointer;
  transition: 1s;
}

.fullscreen-button.hide {
  transform: translateY(40px);
}

